@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    overflow: scroll;
}

header {
    width: 100%;
    height: 92px;
    background: #CF2B2B;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 4px;
    z-index: 2;
}

footer {
    width: 100%;
    height: 92px;
    background: #FFFFFF;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

button {
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    border: none;
}

.nome_do_restaurante {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    position: absolute;
    top: 8px;
    left: 21px;
}

.slogan {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    position: absolute;
    left: 21px;
    top: 57px;

}

.cabecalho {
    position: relative;
}

main {
    padding-left: 19px;
}

.comida {
    margin-top: 119px;
}

.sobremesa {
    margin-bottom: 108px;
}

.bebida {
    margin-top: 27px;
}

.titulo {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-top: 27px;
}

.container-scroll {
    margin-top: 17px;
    overflow: scroll;
    height: 235px;
    width: 100%;
    display: flex;
}

.opcao {
    width: 172px;
    height: 216px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-right: 16px;
    min-width: 172px;
    max-width: 172px;
    display: flex;
    align-items: left;
    flex-direction: column;
    box-sizing: border-box;
    border: 5px solid transparent;
    position: relative;
}

.figura {
    width: 100%;

}

.figura img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-left: 9px;
    margin-top: 13px;
}

.nome-da-comida {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 8px;
    margin-left: 10px;
}

.descricao {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-top: 4px;
    margin-left: 10px;
}

.preco {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 5px;
    margin-left: 10px;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    width: 0px;
}

.disable-scrollbars {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.selecionado-f1 {
    border: 5px solid #32B72F;
}

.selecionado-f2 {
    border: 5px solid #32B72F;
}

.selecionado-f3 {
    border: 5px solid #32B72F;
}

.check {
    color: #32B72F;
    position: absolute;
    bottom: 11px;
    right: 13px;
    font-size: 20px;
    display: none;
}

.checkSelecionado-f1 {
    display: block;
}

.checkSelecionado-f2 {
    display: block;
}

.checkSelecionado-f3 {
    display: block;
}

.verde {
    background-color: #32B72F;
}

.preconumerico {
    display: none;
}

.confirmacao {
    background-color: #50D074;
    margin: auto;
    width: 377px;
    height: 353px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -176px;
    margin-left: -188px;
    z-index: 4;
}

.aparecer {
    display: block;
}

.caixa-confirmacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
}

.confirmacao-de-pedido {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 21px;
}

.coluna {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    margin-top: 15px;
}

.pedido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 13px;
}

.pedido-total {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.primeira-coluna-total {
    display: flex;
    justify-content: left;
}

.segunda-coluna-total {
    display: flex;
    justify-content: right;
}

.pedidoliberado {
    background: #FFFFFF;
    border: none;
    width: 329px;
    height: 52px;
    border-radius: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.018em;
    color: #50D074;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.cancelamento {
    width: 333px;
    height: 33px;
    background: #50D074;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 11px;
}

.opaco {
    opacity: 0.8;
    background-color: #FFFFFF;
    z-index: 3;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

.aparecerdois {
    display: block;
}

a {
    text-decoration: none;
}