@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
    background-color: #f1f1f1;

}

header {
    height: 92px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 4px;
    background: #CF2B2B;
    z-index: 2;
}

.cabecalho {
    position: relative;
}

.nome-do-restaurante {
    font-family: 'Righteous';
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    position: absolute;
    margin-top: 8px;
    margin-left: 21px;
    color: #FFFFFF;
}

.slogan {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    position: absolute;
    margin-top: 57px;
    margin-left: 21px;
    color: #FFFFFF;
}

.titulo {
    font-family: 'Righteous';
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    height: 25px;
    width: 250px;
    margin-top: 31px;
    margin-left: 19px;
    color: #333333;
}

.desabilitar-scrollbars::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    width: 0px;
}

.desabilitar-scrollbars {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.scroll {
    margin-top: 17px;
    overflow: scroll;
    height: 235px;
    width: 100%;
    display: flex;
}

.figura {
    width: 100%;

}

.figura img {
    height: 87px;
    width: 144px;
    margin-left: 9px;
    margin-top: 13px;
    border-radius: 4px;
}

.nome-da-comida {
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 8px;
    margin-left: 10px;
    color: #333333;
}

.descricao {
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 4px;
    margin-left: 10px;
    color: #A6A6A6;
}

.preco {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 5px;
    margin-left: 10px;
    color: #000000;
}

.opcao {
    height: 216px;
    width: 172px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-right: 16px;
    min-width: 172px;
    max-width: 172px;
    display: flex;
    align-items: left;
    flex-direction: column;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-radius: 9px;
}

footer {
    height: 92px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 61px;
    width: 364px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #CBCBCB;
    border-radius: 50px;
    border: none;
}